{% extends '::front_base.html.twig' %}

{% block title %}Campaign Manager{% endblock %}

{% block banner %}
	<div id="banner">
		<div class="content">
			<img src="{{ asset('images/logo.jpg') }}" alt="logo">
			<h1>Are you ready to take the campaign ?</h1>
			<h2>Campaign Manager is a powerful tool for every communities who need to reach the next level</h2>
		</div>
	</div>
{% endblock %}

{% block body %}
	Hello front !
{% endblock %}